.event-page {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.event-container {
  width: 70%;
}

td.label {
  text-align: end;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: darkcyan
}

a:hover {
  color: palevioletred;
}





